@import 'reset';
@import 'variables';
@import 'mixins'; 

html{
  font-family: $mainfont;
  background: mix(complement($hotPink), $teal, 10%);
}

.title{
  font-size: 60px;
  @include simpleMQ(600px){
    color: $hotPink;
  }

}
#main-nav{
  background: $hotPink;
  ul{
     width: 100%;
     @include noBullet;
     @include clearFix;
     
  }
  li{
    float: left;
    width: (100% / 6);
    @include simpleMQ(600px){
      width: (100% / 3);
    }
  }
  a{
    color: $offWhite;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
      &:hover{
      background: $teal;
      }
  }
}

// end main nav

	

section h1 {
  font-size: $sectionHeading;
  color: $hotPink;
}

#main-nav{
  background: $hotPink;
}

#services{
  li{
    float: left;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    @include noBullet;
  }
  img{
    width: 60%;
    margin: 20px 20%;
  }
  a{
    text-decoration: none;
    color: $hotPink;
    font-weight: bold;
    &:hover{
      
      color: invert($hotPink, 40%);
    }
  }
  @include clearFix;
  margin-bottom: 60px;
}

#projects li{
  @include grid(4, 3%);
  img{
    width: 100%;
  }
}
